<template>
    <require from="styles/home.css"></require>
    <div class="home-wrapper">
        <div class="m-b-lg t-s-lg t-c-red">
            You got
          </div>
          <div class="m-b-lg t-s-xxl t-c-red">
              ${gameState.points}
            </div>
            <div class="m-b-lg t-s-lg t-c-red">
                Points
              </div>




      <div class="bg-c-red t-c-white p-a-md t-s-lg m-t-lg" click.trigger="start()">
      Try again
      </div>
    </div>
</template>
